<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="Your name goes here">
<meta name="copyright" content="Maybe consider a Creative Commons license">
<link rel="stylesheet" href="{{page.root}}css/foundation.css">
<link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
<link rel="stylesheet" href="{{page.root}}css/coderay.css">
<link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
<script src="{{page.root}}js/vendor/modernizr.js"></script>
<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/toc.js"></script>
